.coffee {
  text-align: center;

  .img-kyungwon {
    overflow: hidden;

    img {
      max-width: 100%;
      transition: all 0.3s ease 0s;
    }

    :hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
  .name {
    padding: calc(var(--padding) / 2);
  }
}
