@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

* {
    box-sizing: border-box;
}
.detail-haeyun{
    .name-bar {
        position: relative;
        justify-content: space-between;
        margin: 20px 0px;

        h1 {
            padding: 10px 0;
            font-size: 30px;
            font-weight: 400;
        }

        p {
            position:absolute;
            bottom: 0;
            right: 0;
            font-size: 13px;
            color: #838383;
        }
    }

    .main {
        display:flex;

        .img {
            height: 350px;
            width: 350px;
            margin: 0 30px 0 0;
            overflow: hidden;
        }

        .description {
            // max-width: 616px;

            .coffee-name {
                display:inline;
                // display: flex;
                // justify-content: space-between;
                background-color: rgb(203, 203, 203);
                
                h1 {
                    padding-bottom: 5px;
                    font-size: 20px;
                }

                h2 {
                    padding-bottom: 30px;
                    font-size: 15px;
                    background-color: yellow;
                    border-bottom: 2px solid black;
                }
            }
        }
    }
}
