@use "../../../styles/commons.scss";
@import "../../../styles/variables";

footer.footer-seula {
  width: 100%;
  background: $color-default;
  .footer-wrap {
    width: 1280px;
    margin: 0 auto;
  }
  .footer-menu {
    @include flexBetween;
    padding: 2.5rem 0;
    color: $color-nav;
    font-size: 0.9rem;
    .footer-menu-title {
      text-transform: uppercase;
    }
    ol {
      padding:20px 0 0;
      li {
        margin: 15px 0;
      }
    }
  }
}
