.topNavHeader{
    width: 100%; height: 60px;
    padding: 10px 20px;
    background-color: #F6F5EF;

    .webucksLogo{ 
        float: left;
        font-family: 'Dancing Script', cursive;
        font-size: 35px;
        color: black;
    }
    .webucksNav{
        float: right;
        margin-top: 8px;
        color: gray;

        .webuckSpan{
            padding: 0px 10px;
        }
    }
}
