.login-form {
  width: 500px;
  margin: calc(var(--padding) * 2) auto;
  padding: calc(var(--padding) * 6) var(--padding);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: white;
  text-align: center;

  .logo {
    display: inline-block;
    margin-bottom: calc(var(--padding) * 2);
    font-size: 80px;
    font-weight: 700;
    font-family: "Dancing Script", cursive;
  }

  input {
    display: inline-block;
    width: 400px;
    margin: 0 auto;
    margin-bottom: calc(var(--padding) / 2);
    padding: var(--padding);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.5);
  }

  .button {
    display: inline-block;
    width: 400px;
    margin: 0 auto;
    margin-bottom: calc(var(--padding) * 5);
    border-radius: 8px;
    border: none;
    padding: var(--padding);
    box-sizing: border-box;
    background-color: #7cbbe3;
    color: white;
    opacity: 0.5;
  }
}
.find-pw {
  display: inline-block;
  color: #7cbbe3;
  text-decoration: none;
}

.active {
  opacity: 1;
  cursor: pointer;
}
