
.webucksLoginPage{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    margin: 50px;
    width: 380px; height: 480px;
    border: 2px solid #aeaeae;
    align-items: center;

    .webucksImg{
        width: 200px; height: 64px;
    }

    .main{
        position: relative;
        width: 82%;
        margin-top: 30px;

        .inputField{
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid rgb(189, 189, 189);
        background-color:#efefef;
        }

        .loginBtn{
            color: white;
            background-color: rgb(77, 139, 211);
            opacity: 0.5;
            border: 1px solid #cbe3f2;
            font-size: 14px;
            font-weight: bold;
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            border-radius: 5px;
        }

        .btnDisabled{
            opacity: 0.2;
        }

        .forgotPwd{
            position: absolute;
            top: 55%;
            font-size: 13px;
            text-decoration: none;      
        }

    }

}


