.product {
  display: flex;
  flex-direction: column;
  width: 100%;

  .product-coffee {
    display: flex;
    padding: var(--padding);
    margin-bottom: var(--padding);
    background-color: var(--bg-color);

    .title-kyungwon {
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
    }

    .i-kyungwon {
      margin: 0 var(--padding);
      font-size: 20px;
    }
  }
}

.coffee-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: var(--padding);
  grid-row-gap: var(--padding);
  margin-bottom: var(--padding);
  padding: 0 var(--padding);
}
